<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
        
        <!-- Ваша логика -->
          <table class="u-full-width">
            <thead>
              <tr>
                <td>Год</td>
                <td>Январь</td>
                <td>Февраль</td>
                <td>Март</td>
                <td>Апрель</td>
                <td>Май</td>
                <td>Июнь</td>
                <td>Июль</td>
                <td>Август</td>
                <td>Сентябрь</td>
                <td>Октябрь</td>
                <td>Ноябрь</td>
                <td>Декабрь</td>
                <td>Всего</td>
              </tr>
            </thead>
            <tbody>
            {% for d in data %}
              <tr>
                <td>{{ d.Год }}</td>
                <td>{{ d.Янв }}</td>
                <td>{{ d.Фев }}</td>
                <td>{{ d.Мар }}</td>
                <td>{{ d.Апр }}</td>
                <td>{{ d.Май }}</td>
                <td>{{ d.Июн }}</td>
                <td>{{ d.Июл }}</td>
                <td>{{ d.Авг }}</td>
                <td>{{ d.Сен }}</td>
                <td>{{ d.Окт }}</td>
                <td>{{ d.Ноя }}</td>
                <td>{{ d.Дек }}</td>
                <td>{{ d.Всего }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endblock %}

  </body>
</html>
